<h1>WinSCP</h1>
<p>The guide will show you how to use WinSCP to connect to your slot here at Feral via FTP/SFTP. It shouldn't require any expertise to use, but it might be helpful to read the <a href="../ftp">general FTP/SFTP guide</a> first or if you encounter a more general problem.</p>

<h2>Connecting to your slot</h2>
<p>First of all you'll need to download and install WinSCP according to its instructions. If you don't already have the software you can find a download link in the External links section at the bottom of this guide.</p>
<p>You'll need the following information to connect:</p>
<ul>
	<li>Server/hostname</li>
	<li>Username</li>
	<li>Password</li>
</ul>
<p>You can find each of these by clicking on the <samp>Software</samp> link of your <a href="/wiki/getting_started/web_manager">Feral web manager</a>.</p>

<p>Open up WinSCP and the new connection manager should be open. Put your server/hostname, username and password which we obtained from the slot's Software page. You won't need to add a port number to the hostname, as WinSCP will automatically use the default port. But, if you want to, your two options are <samp>22</samp> or <samp>22222</samp>.</p>
<p>Once these details have been entered, you can click on the <samp>Save</samp> button to save the session for future use (you can also save you password if you wish).</p>
</p>
<figure>
    <img alt="Screenshot of the WinSCP connection manager, showing server, username and password field locations" src="winscp/winscp-connection-manager.png">
    <figcaption>In the text above, replace <var>Server</var>, <var>Username</var> and the password with the details found on your slot's <samp>Software</samp> page</figcaption>
</figure>

<h2>Usage</h2>
<p>Once connected you'll see your local directory structure to the left and your slot's folders in the right-hand panel. To download, just select the download location from the left-hand side and drag your folder/files over.</p>

<h2>External links</h2>
<ul>
	<li><a href="https://winscp.net/eng/download.php">WinSCP download page</a></li>
	<li><a href="https://winscp.net/eng/docs/start">Documentation</a></li>
	<li><a href="https://winscp.net/forum/">Forum</a></li>
</ul>
