<h1>FFmpeg</h1>
<p>FFmpeg is piece of software to handle various multimedia formats. It's used by other software and plugins to take screenshots, make file conversions and other things.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>FFmpeg is already installed to the servers, but if you want a later version then you can install it by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/ffmpeg.tar.gz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-64bit-static.tar.xz
tar xf ~/ffmpeg.tar.gz &amp;&amp; cd &amp;&amp; rm -rf ffmpeg-*-64bit-static/{manpages,presets,readme.txt}
cp ~/ffmpeg-*-64bit-static/* ~/bin
chmod 700 ~/bin/{ffmpeg,ffprobe,ffmpeg-10bit,qt-faststart}
cd &amp;&amp; rm -rf ffmpeg{.tar.gz,-*-64bit-static}</kbd></pre>

<h2>Usage</h2>
<p>Your slot is not the place to encode large videos or use resource-intensive filters and options. You share the RAM and CPU with others on the server; using ffmpeg in an unrestricted way is likely to take up too many of these shared resources and as such is likely to be considered abusive. In addition to this, it wouldn't be possible to use hardware-accelerated encoding either. Your encodes are likely to take longer than encoding off-slot and transferring.</p>
<p>You can limit FFmpeg's CPU usage with its <samp>-threads</samp> option. In the Feral context this should be set to 1.</p>
<p>Use-cases for FFmpeg which are unlikely to cause issues are:</p>
<ul>
	<li>Taking screenshots</li>
	<li>Demuxing</li>
	<li>Remuxing</li>
</ul>

<h2>External links</h2>
<ul>
	<li><a href="https://ffmpeg.org/ffmpeg">FFmpeg documentation</a></li>
</ul>