<h1>Mono</h1>
<aside class="alert note">Mono has a habit of using several CPU cores - regularly check its use with <kbd>htop -u $(whoami)</kbd></aside>

<p>This article will show you how to install mono. Mono is an open-source implementation of Microsoft's .NET Framework and is used by software such as <a href="sonarr">Sonarr</a> and <a href="radarr">Radarr</a>.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Mono requires libtool to be installed on your slot. Install it by logging in via SSH, then copying and pasting the commands below. If you've already installed libtool (for example, if you're reinstalling mono) you can skip these commands.</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/libtool.tar.gz http://ftpmirror.gnu.org/libtool/libtool-2.4.6.tar.gz
tar xf ~/libtool.tar.gz &amp;&amp; cd ~/libtool-2.4.6
./configure --prefix=$HOME
make &amp;&amp; make install 
cd &amp;&amp; rm -rf libtool{-2.4.6,.tar.gz}</kbd></pre>

<p>Install mono by copying and pasting the following:</p>
<pre><kbd>PATH=~/bin:$PATH
wget -qO ~/mono.tar.bz2 http://download.mono-project.com/sources/mono/mono-5.10.0.179.tar.bz2
tar xf ~/mono.tar.bz2 &amp;&amp; cd ~/mono-*
./autogen.sh --prefix="$HOME"
make get-monolite-latest &amp;&amp; make &amp;&amp; make install
cd &amp;&amp; rm -rf ~/mono{-*,.tar.bz2}</kbd></pre>

<h3>Installation notes</h3>
<p>Mono will take a long time to compile. If you have other errands to run that would be the perfect opportunity.</p>
<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting_started/newbie_info#pathfix">add the bin directory to PATH</a>.</p>

<h2>Using mono</h2>
<p>Mono is used together with the software that requires it. Please see the individual software pages for usage:</p>
<ul>
    <li><a href="jackett">Jackett</a></li>
    <li><a href="radarr">Radarr</a></li>
    <li><a href="sonarr">Sonarr</a></li>
</ul>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the mono software - back up important data first! Libtool will not be removed.</aside>
<pre><code>rm ~/bin/mono*</code></pre>