<h1>Test page</h1>
<p>This is a test page to try out various features of the wiki and the way it displays things.</p>

<h2>Test image</h2>
<figure>
    <img alt="A test image showing the Flood software loading screen" src="test/test.png">
    <figcaption>Caption for the test image.</figcaption>
</figure>
