<h1>Payment Problems and Late Payments</h1>
<p>This page will go through all things payment-related and doesn't rely on any assumed knowledge or skills.</p>

<h2>Introduction</h2>
<p>Payment should be made in good time ahead of the payment deadline. If a valid payment is not received and your slot goes into suspension your data will be kept for three days. After this time your data will be removed and staff will not be able to restore it as a backup of data is not kept. The slot and its data will get deleted and the space made available for another user.</p>

<h2>Late payments</h2>
<p>If you think you might be late to make a payment please open a ticket and let staff know as soon as you can. Whilst they cannot always keep slots open for as long as you need they will generally hold slots open for a few days and there's not going to be any extra harm caused by asking.</p>
<p>It's always best to do this as soon as you can. If staff hold open the slot you'll still be able to use it as normal so if you can let them know before payment is due you wouldn't even see an interruption in service. Conversely, whilst they try to answer tickets as soon as possible, doing it as soon as possible prevents the ticket being addressed too late. From any standpoint it's in your interest to let them know quickly!</p>
<p>If payment is only going to be delayed by a couple of days it's not really necessary to give a reason. If the delay is more serious it's a good idea to provide a reason - not only is a more open and constructive approach always more likely to be successful, but staff might also be able to be more helpful if they know the situation. Please be assured that any reasons would be kept private and confidential.</p>

<h2>Payment problems</h2>

<h3>Card payments</h3>
<p>It is an unfortunate fact that for some customers payments do not complete successfully. Whilst rare, there might be a number of causes including but not limited to these reasons:</p>
<ul>
    <li>You were paying behind a proxy or VPN</li>
    <li>Your bank reported that one of the following did not match their records:
        <ul>
            <li>Your address</li>
            <li>Your postal code</li>
            <li>Your CVC (the three or four digits on the reverse of the card)</li>
        </ul>
    </li>
    <li>Your card has expired;</li>
    <li>Your bank declined the payment.
        <ul>
            <li>You may have to allow for international payments to be processed with your credit card provider</li>
            <li>Your credit provider may have checks in place to protect you against irregular transactions</li>
        </ul>
    </li>
</ul>
<p>These are factors which are outside of Feral's control and we must wait until the transaction clears and payment is received before the slot can be created.</p>
<p>Often when a payment is unsuccessful a notice will inform you during the payment process. If for example you're notified that your bank has declined the payment you will need to contact them for further information as staff will not have any more information for you. Sometimes staff will not be able to divulge the reason why a payment failed to avoid potential abuse. You should always open a ticket if you have questions about a payment in any case.</p>

<h3>Bitcoin payments</h3>
<p>When you pay via Bitcoin you're taken to Coinbase's merchant services which generates an invoice based on the information provided by Feral. They then give you a 15 minute window to send the Bitcoin. This window is there because Feral invoice in GBP and the exchange rate may change.</p>
<p>If the payment is received outside this window, the wrong amount is received or a combination of these, Coinbase will label the payments as "expired" or "mispaid". In both of these instances a refund will need to be provided and staff may request a Bitcoin address be supplied or confirmed.</p>
<p>Our payments page will record all the payments received so if you have any doubts please open a ticket and ask for clarification.</p>